{% extends 'base.html' %}

{% block title %}{{ _('Renovation in the varshavsky residential complex in kyiv') }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ _('Explore our turnkey renovation project in an apartment in the Varshavsky Residential Complex in Kyiv. Our professional services cover all aspects of renovation and ..') }}">
{% endblock %}



{% block content %}
    <div class="container py-2">
        <div class="album page-set bg-body-tertiary">

                <h1>
                    {{ _('RENOVATION IN THE VARSHAVSKY RESIDENTIAL COMPLEX IN KYIV') }}
                </h1>

            </div>

<hr class="featurette-divider">

        <div class="album py-5 bg-body-tertiary section_portfolio_description">
                <p class='varshavsky-residential'>
                    {{ _('Explore our turnkey renovation project in an apartment in the Varshavsky
                    Residential Complex in Kyiv. Our professional services cover all aspects
                    of renovation and interior design, ensuring high-quality results tailored
                    to your needs. Take a closer look at our work in the complex and witness
                    the transformation of this new construction into a stylish and comfortable
                    living space.') }}
                </p>

            </div>

        <hr class="featurette-divider">




        <div class="album py-5 bg-body-tertiary">

                <div class="row g-2 clearfix">

<!--                    фото на странице с Modal-->
        <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="0">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_1.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 1">

            </a>
        </div>


        <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="1">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_2.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 2">

            </a>
        </div>

        <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="2">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_3.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 3">

            </a>
        </div>

        <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="3">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_4.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 4">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="4">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_5.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 5">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="5">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_6.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 6">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="6">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_7.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 7">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="7">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_8.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 8">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="8">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_9.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 9">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="9">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_10.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 10">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="10">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_11.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 11">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="11">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_12.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 12">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="12">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_13.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 13">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="13">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_14.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 14">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="14">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_15.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 5">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="15">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_16.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 16">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="16">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_17.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 17">

            </a>
        </div>

                    <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img moda" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="17">
                <img class="" src="/static/images/portfolio/warsaw/warsaw_18.jpg"
                     alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 18">
<!--                        <div class="description">-->
<!--                            <p>Your description text goes here.</p>-->
<!--                        </div>-->
            </a>
        </div>


    </div>





                <div class="container-fluid">
    <main class="row">

        <!-- Modal -->
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner overflow-hidden">
                    <!-- фотографии для слайдов Modal -->
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_1.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 1">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_2.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 2">
                    </div>
                    <div class="carousel-item active">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_3.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 3">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_4.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 4">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_5.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 5">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_6.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 6">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_7.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 7">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_8.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 8">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_9.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 9">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_10.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 10">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_11.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 11">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_12.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 12">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_13.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 13">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_14.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 14">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_15.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 15">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_16.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 16">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_17.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 17">
                    </div>
                    <div class="carousel-item">
                        <img class="mb-2" src="/static/images/portfolio/warsaw/warsaw_18.jpg"
                             alt="{{ _('Renovation in the varshavsky residential complex in kyiv') }} Photo 18">
                    </div>
                </div>

                <!-- кнопка назад -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- кнопка вперед -->
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

    </main>
</div>

        </div>
    </div>




{% endblock %}
