{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container py-2">

        <div class="album py-5 bg-body-tertiary">
        <h1>ABOUT</h1>
            </div>


        <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100">
          <div class="section_about">
								<p>Приветствую! Меня зовут Сергей Кульбаченко, и я уже долгое время работаю в строительной сфере. Все началось, когда я приехал в Киев и получил образование по специальностям каменщика-печника, электросварщика и монтажника железобетонных конструкций. Мой путь начался с работы разнорабочим в строительной бригаде, но я осознал свой потенциал и принял решение начать свой собственный бизнес.
                    С течением времени я создал свою строительную бригаду, привлекая множество довольных заказчиков благодаря многолетнему опыту и профессионализму. Из-за начавшейся войны в Украине мне пришлось переехать в Европу, где я ознакомился с новыми материалами, технологиями и стандартами.
                    Проявляя постоянное стремление к совершенствованию, я успешно организовывал и развивал свой бизнес с нуля, продолжая предоставлять высококачественные услуги и заслуживать ваше доверие. Буду рад сотрудничеству!
                </p>
							</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 bg-body-tertiary">
          <div class="responsive-image-container">
            <img src="static/images/image_07_01/kulbachenko_main.jpg" alt="Responsive Image">
          </div>
        </div>
      </div>
    </div>
<div class="album py-5 bg-body-tertiary">
</div>
    </div>
{% endblock %}
