{% extends 'base.html' %}



{% block meta %}
        <meta name="description" content="{{ _('My name is Sergey Kulbachenko, I have been working in the construction industry for a long time. It all started when I came to Kyiv in 2005 and got an education...') }}">

{% endblock %}

{% block title %}{{ _('About') }}{% endblock %}

{% block content %}
    <div class="container py-2">

        <div class="album page-set bg-body-tertiary ">
        <h1>{{ _('ABOUT') }}</h1>
            </div>
        <hr class="featurette-divider">


        <div class="row align-items-md-stretch py-5">
      <div class="col-md-6">
        <div class="h-100">
            <div class="section_about fst-italic"
                 style="margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px !important;
    text-align: center;
    padding: 0px 30px 30px 30px;">

                <p>{{ _("My name is Serhii Kulbachenko, and I have been working in the construction industry for a long time. It all started when I came to Kyiv and received education in the specialties of bricklayer-stove-setter, electric welder, and installer of reinforced concrete structures. My journey began as a laborer in a construction team, but I realized my potential and decided to start my own business. Over time, I formed my own construction team, attracting many satisfied customers due to years of experience and professionalism. Working in Europe, I became acquainted with new materials, technologies, and standards. With a constant commitment to improvement, I successfully organized and developed my business from scratch, continuing to provide high-quality services and earn your trust. I'll be happy to collaborate!") }}</p>
            </div>

        </div>
      </div>

            <div class="col-md-1">
            </div>

      <div class="col-md-5">
        <div class="h-100 bg-body-tertiary">
          <div class="responsive-image-container">
            <img src="{{ url_for('static', filename='images/image_07_01/kulbachenko_main.png') }}" alt="{{ _('Serhii Kulbachenko - Founder of Kulbachenko Construction + Design') }}">
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
