{% extends "base.html" %}

{% block title %}{{ _('Blog') }}{% endblock %}

{% block content %}
<div class="container_blog_page">


    <div class="blog_title">
        <h1>Blog</h1>
    </div>


    <div class="blog_tags">
        <p>Пошук за:</p>
        <div class="post_tags">
            <a href="#" class="post_tag">Ремонт</a>
            <a href="#" class="post_tag">Будівництво</a>
            <a href="#" class="post_tag">Сантехніка</a>
            <a href="#" class="post_tag">Електрика</a>
            <a href="#" class="post_tag">Landscaping and fencing</a>


        </div>
    </div>

    <div class="posts">
        <article class="post">
            <div class="inner">
                <a class="post-image-link">
                    <img class="post-image" src="" alt="">
                </a>
                <div class="content_block">
                    <div class="content_post">
                        <div class="post_tag_time">
                            <time class="date" datetime="2024-09-26">Вер</time>
                            <time class="date" datetime="2024-09-26">26, 2024</time>
                        </div>
                            <a href="#">
					            <h4>Привіт, світ!</h4>
				            </a>
                        <div class="blogpost_description">
                            "Ласкаво просимо до WordPress. Це ваш перший запис. Редагуйте або видаліть, а потім починайте писати!"
                        </div>

                        <div class="post_tags">
                            <a href="#" class="post_tag">Ремонт</a>
                            <a href="#" class="post_tag">Будівництво</a>
                            <a href="#" class="post_tag">Сантехніка</a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article class="post">
            <div class="inner">
                <a class="post-image-link">
                    <img class="post-image" src="" alt="">
                </a>
                <div class="content_block">
                    <div class="content_post">
                        <div class="post_tag_time">
                            <time class="date" datetime="2024-09-26">Вер</time>
                            <time class="date" datetime="2024-09-26">26, 2024</time>
                        </div>
                            <a href="#">
					            <h4>Привіт, світ!</h4>
				            </a>
                        <div class="blogpost_description">
                            "Ласкаво просимо до WordPress. Це ваш перший запис. Редагуйте або видаліть, а потім починайте писати!"
                        </div>

                        <div class="post_tags">
                            <a href="#" class="post_tag">Ремонт</a>
                            <a href="#" class="post_tag">Будівництво</a>
                            <a href="#" class="post_tag">Сантехніка</a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article class="post">
            <div class="inner">
                <a class="post-image-link">
                    <img class="post-image" src="" alt="">
                </a>
                <div class="content_block">
                    <div class="content_post">
                        <div class="post_tag_time">
                            <time class="date" datetime="2024-09-26">Вер</time>
                            <time class="date" datetime="2024-09-26">26, 2024</time>
                        </div>
                            <a href="#">
					            <h4>Привіт, світ!</h4>
				            </a>
                        <div class="blogpost_description">
                            "Ласкаво просимо до WordPress. Це ваш перший запис. Редагуйте або видаліть, а потім починайте писати!"
                        </div>

                        <div class="post_tags">
                            <a href="#" class="post_tag">Ремонт</a>
                            <a href="#" class="post_tag">Будівництво</a>
                            <a href="#" class="post_tag">Сантехніка</a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article class="post">
            <div class="inner">
                <a class="post-image-link">
                    <img class="post-image" src="" alt="">
                </a>
                <div class="content_block">
                    <div class="content_post">
                        <div class="post_tag_time">
                            <time class="date" datetime="2024-09-26">Вер</time>
                            <time class="date" datetime="2024-09-26">26, 2024</time>
                        </div>
                            <a href="#">
					            <h4>Привіт, світ!</h4>
				            </a>
                        <div class="blogpost_description">
                            "Ласкаво просимо до WordPress. Це ваш перший запис. Редагуйте або видаліть, а потім починайте писати!"
                        </div>

                        <div class="post_tags">
                            <a href="#" class="post_tag">Ремонт</a>
                            <a href="#" class="post_tag">Будівництво</a>
                            <a href="#" class="post_tag">Сантехніка</a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article class="post">
            <div class="inner">
                <a class="post-image-link">
                    <img class="post-image" src="" alt="">
                </a>
                <div class="content_block">
                    <div class="content_post">
                        <div class="post_tag_time">
                            <time class="date" datetime="2024-09-26">Вер</time>
                            <time class="date" datetime="2024-09-26">26, 2024</time>
                        </div>
                            <a href="#">
					            <h4>Привіт, світ!</h4>
				            </a>
                        <div class="blogpost_description">
                            "Ласкаво просимо до WordPress. Це ваш перший запис. Редагуйте або видаліть, а потім починайте писати!"
                        </div>

                        <div class="post_tags">
                            <a href="#" class="post_tag">Ремонт</a>
                            <a href="#" class="post_tag">Будівництво</a>
                            <a href="#" class="post_tag">Сантехніка</a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article class="post">
            <div class="inner">
                <a class="post-image-link">
                    <img class="post-image" src="" alt="">
                </a>
                <div class="content_block">
                    <div class="content_post">
                        <div class="post_tag_time">
                            <time class="date" datetime="2024-09-26">Вер</time>
                            <time class="date" datetime="2024-09-26">26, 2024</time>
                        </div>
                            <a href="#">
					            <h4>Привіт, світ!</h4>
				            </a>
                        <div class="blogpost_description">
                            "Ласкаво просимо до WordPress. Це ваш перший запис. Редагуйте або видаліть, а потім починайте писати!"
                        </div>

                        <div class="post_tags">
                            <a href="#" class="post_tag">Ремонт</a>
                            <a href="#" class="post_tag">Будівництво</a>
                            <a href="#" class="post_tag">Сантехніка</a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>


    <div class="nav-links">
        <span aria-current="page" class="page-numbers current">1</span>
        <a class="page-numbers" href="#">2</a>
        <a class="page-numbers" href="#">3</a>
        <a class="page-numbers" href="#">4</a>
        <a class="next page-numbers" href="#">
            <i class="fas fa-angle-right"></i>

        </a>
    </div>


</div>
{% endblock %}
