{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container py-2">
        <div class="full-screen-container d-flex flex-column align-items-space-around justify-content-flex-start">
            <header>
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none navbar-logo">
                    <img src="{{ url_for('static', filename='images/lines-80.png') }}" alt="Logo" width="70px" height="70px">
                </a>

                <nav id="index-nav" class="navbar navbar-expand-md d-inline-flex mt-2 mt-md-0 ms-md-auto">

                    <div id="index_header" class="me-3 py-2 link-body-emphasis text-decoration-none">
                    <div id='base' class="dropdown">
    <button class="custom-btn btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {{ language.upper() }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('en')">English</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('uk')">Українська</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('ru')">Русский</a></li>
    </ul>
</div>


                        </div>

                    <a class="me-3 py-2 link-body-emphasis text-decoration-none {% if request.path == '/about' %}active{% endif %}" href="/about">{{ _('ABOUT') }}</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none {% if request.path == '/portfolio' %}active{% endif %}" href="/portfolio">{{ _('PORTFOLIO') }}</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none {% if request.path == '/services' %}active{% endif %}" href="/services">{{ _('SERVICES') }}</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none {% if request.path == '/blog' %}active{% endif %}" href="/blog">{{ _('BLOG') }}</a>
                </nav>

                <div class="container-color-index">
                        <a href="#contact-form" class="contact-link text-nowrap">{{ _('CONTACT US') }}</a>
                    </div>
            </div>
        </header>

            {% block content %}
            <div class="container py-2" style="z-index: 1;">
                <div class="position-absolute top-4 end-0">


                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </div>
{% endblock %}

            <div class="main-middle-block text-center">
                <div class="main-text-carousel">
                    <h1>
                        Kulbachenko & Co.<br>Construction
                    </h1>
                </div>
            </div>
             <div class="middle-block mt-3">
                    <div class="container-bottom-corusel">
                        <a href="/portfolio" class="contact-link">{{ _('VIEW OUR PORTFOLIO') }}</a>
                    </div>
                </div>
        </div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-container" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/image_07_01/bathroom_index.jpg') }}" class="d-block w-100" alt="Slide 1">
                    <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                        <!-- Add additional text or elements as needed -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/carousel/bass_p.jpeg') }}" class="d-block w-100" alt="Slide 2">
                    <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                        <!-- Add additional text or elements as needed -->
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/image_07_01/cinema_1.jpg') }}" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                        <!-- Add additional text or elements as needed -->
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>

        <div class="content">
            <!-- Your content goes here -->
        </div>

        </div>
{% endblock %}


