{% extends 'base.html' %}

{% block meta %}
    {% if language == 'en' %}
        <meta name="description" content="Explore Kulbachenko Construction's portfolio showcasing our completed renovation and construction projects. Discover our expertise in transforming spaces across Amsterdam, Rotterdam, The Hague, and Utrecht.">

    {% elif language == 'uk' %}
        <meta name="description" content="Досліджуйте портфоліо Kulbachenko Construction, що демонструє наші завершені проєкти з ремонту та будівництва. Дізнайтеся про наш досвід у трансформації просторів у Амстердамі, Роттердамі, Гаазі та Утрехті.">

    {% elif language == 'ru' %}
        <meta name="description" content="Изучите портфолио Kulbachenko Construction, демонстрирующее наши завершенные проекты по ремонту и строительству. Узнайте о нашем опыте в трансформации пространств в Амстердаме, Роттердаме, Гааге и Утрехте.">

    {% elif language == 'et' %}
        <meta name="description" content="Tutvuge Kulbachenko Constructioni portfelliga, mis näitab meie lõpetatud renoveerimis- ja ehitusprojekte. Avastage meie kogemused ruumide muutmisel Eestis, sealhulgas Tallinnas, Tartus ja mujal.">
    {% endif %}

    <link rel="canonical" href="{{ url_for('index', _external=True, setting_language=language) }}">
{% endblock %}


{% block title %}{{ _('Portfolio') }}{% endblock %}

{% block content %}
    <div class="container py-2">
    <div class="album page-set bg-body-tertiary">



<!--        <h1>{{ _('PORTFOLIO') }}</h1>-->
        <div class="update-notice">
            <h2>{{ _('Page Under Update') }}</h2>
            <p>{{ _('We are currently updating this page. Our portfolio will be available here soon, showcasing our completed renovation and construction projects. Thank you for your patience!') }}</p>
        </div>

<style>
.update-notice {
    max-width: 390px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.update-notice h2 {
    color: #1C9528;
}
</style>
    </div>

        <hr class="featurette-divider">

        <div class="album page-set bg-body-tertiary section_portfolio_description">
            <p>{{ _('Discover the quality and expertise we bring to every project we undertake.') }}
            </p>
        </div>

        <hr class="featurette-divider">


        <div class="desktop_7" unique-script-id="w-w-dm-id">
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk headingText">
        Gallery
      </p>
      <div class="responsive-container-block optionsContainer">
        <p class="text-blk list all active" data-filter="all">
          All work
        </p>
        <p class="text-blk list" data-filter="Apartments">
          Apartments
        </p>
        <p class="text-blk list" data-filter="Bathrooms">
          Bathrooms
        </p>
        <p class="text-blk list" data-filter="Constructions">
          Constructions
        </p>
        <p class="text-blk list" data-filter="Cultural-objects">
          Cultural objects
        </p>
        <p class="text-blk list" data-filter="Home-cinema">
          Home cinema
        </p>
          <p class="text-blk list" data-filter="Outside-work">
          Outside work
        </p>
          <p class="text-blk list" data-filter="Other">
          Other
        </p>

      </div>
      <div class="responsive-container-block imageContainer">
        <div class="project">
            <a class="portfolio_img squareImg Home-cinema" href="project/home-cinema-5-person">
                <img class="" src="{{ url_for('static', filename='images/cinema_logo.webp') }}" alt="Home cinema in Ukraine">
                <div class="description">
                        <p>{{ _('PROFESSIONAL HOME CINEMA IN PRIVATE HOUSE IN UKRAINE') }}</p>
                </div>
            </a>
        </div>
          <div class="project">
            <a class="portfolio_img squareImg Cultural-objects" href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                <img class="" src="{{ url_for('static', filename='images/ESTONIAN ACADEMY OF MUSIC AND THEATER IN TALLINN.webp') }}" alt="ESTONIAN-ACADEMY">
                <div class="description">
                        <p>{{ _('ESTONIAN ACADEMY OF MUSIC AND THEATER IN TALLINN, ESTONIA') }}</p>
                </div>
            </a>
        </div>
          <div class="project">
            <a class="portfolio_img squareImg Apartments" href="project/renovation-in-the-varshavsky-residential-complex-in-kyiv">
                <img class="" src="{{ url_for('static', filename='images/COMPREHENSIVE RENOVATION IN THE VARSHAVSKY RESIDENTIAL COMPLEX IN KYIV.webp') }}" alt="COMPREHENSIVE-RENOVATION">
                <div class="description">
                        <p>{{ _('Turnkey renovation of an apartment in a new residential complex "Varshavsky" IN KIEV') }}</p>
                </div>
            </a>
        </div>

          <div class="project">
            <a class="portfolio_img squareImg Constructions" href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                <img class="" src="{{ url_for('static', filename='images/camp.webp') }}" alt="Camp esty">
                <div class="description">
                        <p>{{ _('Recreation complex "Sparta Camp", Nõva, 91104 Lääne County, Estonia') }}</p>
                </div>
            </a>
        </div>

          <div class="project">
            <a class="portfolio_img squareImg Bathrooms" href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                <img class="" src="{{ url_for('static', filename='images/Bathroom Esty.webp') }}" alt="Bathroom in Estonia">
                <div class="description">
                        <p>{{ _('Bathroom in a private house in Estonia') }}</p>
                </div>
            </a>
        </div>
          <div class="project">
            <a class="portfolio_img squareImg Bathrooms" href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                <img class="" src="{{ url_for('static', filename='images/Bathroom in Amsterdam.webp') }}" alt="Bathroom in Amsterdam">
                <div class="description">
                        <p>{{ _('Bathroom in Amsterdam') }}</p>
                </div>
            </a>
        </div>
          <div class="project">
            <a class="portfolio_img squareImg Apartments" href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                <img class="" src="{{ url_for('static', filename='images/radistov m.webp') }}" alt="ESTONIAN-ACADEMY">
                <div class="description">
                        <p>{{ _('turnkey renovation for a newly built apartment, Kyiv, Ukraine') }}</p>
                </div>
            </a>
        </div>

      </div>
    </div>
  </div>
</div>

    </div>

{% endblock %}