{% extends 'base.html' %}

{% block title %}{{ _('Portfolio') }}{% endblock %}

{% block content %}
    <div class="container py-2">
    <div class="album py-5 bg-body-tertiary">
        <h1>{{ _('PORTFOLIO') }}</h1>
    </div>


    <div class="album py-5 bg-body-tertiary">

      <div class="row g-2 clearfix">

          <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img" href="project/home-cinema-5-person">
                <img class="mb-2" src="{{ url_for('static', filename='images/portfolio/cinema_5/cinema_2.jpeg') }}" alt="Portfolio Image">
                <div class="description">
                        <p>PROFESSIONAL HOME CINEMA IN PRIVATE HOUSE IN UKRAINE</p>
                </div>
            </a>
          </div>

          <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img" href="project/renovation-in-the-varshavsky-residential-complex-in-kyiv">
                <img class="mb-2" src="{{ url_for('static', filename='images/portfolio/warsaw/warsaw_11.jpg') }}" alt="Portfolio Image">
                <div class="description">
                        <p>COMPREHENSIVE RENOVATION IN THE VARSHAVSKY RESIDENTIAL COMPLEX IN KYIV</p>
                </div>
            </a>
        </div>



        <div class="col-sm-6 col-md-3 my-1">
            <a class="portfolio_img" href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                <img class="mb-2" src="{{ url_for('static', filename='images/portfolio/estonian_academy/estonian academy_1.jpeg') }}" alt="Portfolio Image">
                <div class="description">
                        <p>ESTONIAN ACADEMY OF MUSIC AND THEATER IN TALLINN, ESTONIA</p>
                </div>
            </a>
        </div>

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/paving_stones_kulbachenko_1.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/paving_stones_kulbachenko_1.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/bass_cinema_kulbachenko.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/kulbachenko_3.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/kulbachenko_3.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/door_kulbachenko_1.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/bathroom_kulbachenko_1.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/bass_p.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-3 my-1">-->
<!--            <a class="portfolio_img" href="#">-->
<!--                <img class="mb-2" src="{{ url_for('static', filename='images/carousel/wood_house_kulbackenko_1.jpeg') }}" alt="Portfolio Image">-->
<!--                <div class="description">-->
<!--                        <p>Your description text goes here.</p>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->

    </div>
    </div>
    </div>
{% endblock %}