{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container py-2">
        <div class="album py-5 bg-body-tertiary">
            <div class="album py-5 bg-body-tertiary">
                <article id="1">
                    <h2 class="entry-title">
                        <a href="project/home-cinema-5-person">
                            Featured Homes & Additions Condos Kitchens
                            Bathrooms Transitional Home Remodel in Washington, DC...
                        </a>
                    </h2>
                </article>
            </div>
        </div>
    </div>




{% endblock %}