{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container py-2">
        <div class="album py-5 bg-body-tertiary">
            <div class="album py-5 bg-body-tertiary">
                <article id="1">
                    <h2 class="entry-title">
                        <a href="project/home-cinema-5-person">
                            PROFESSIONAL HOME CINEMA IN PRIVATE HOUSE IN UKRAINE
                        </a>
                    </h2>
                </article>

                <article id="2">
                    <h2 class="entry-title">
                        <a href="project/renovation-in-the-varshavsky-residential-complex-in-kyiv">
                            СOMPREHENSIVE RENOVATION IN THE VARSHAVSKY RESIDENTIAL COMPLEX IN KYIV
                        </a>
                    </h2>
                </article>

                <article id="3">
                    <h2 class="entry-title">
                        <a href="project/estonian-academy-of-music-and-theater-in-tallinn-estonia">
                            ESTONIAN ACADEMY OF MUSIC AND THEATER IN TALLINN, ESTONIA
                        </a>
                    </h2>
                </article>
            </div>
        </div>
    </div>




{% endblock %}