{% extends "base.html" %}

{% block title %}Services{% endblock %}

{% block content %}
	<div class="container py-2">
    <div class="album py-5 bg-body-tertiary">
		<h1>Servicess</h1>
	</div>


		<div class="row align-items-md-stretch">
      <div class="col-md-12">
        <div id="service_1" class="h-100 bg-body-tertiary">
          <h2>Our 4-Step Process</h2>
				<p>
					Be it a full home renovation, condo remodel, or kitchen redesign,
					our four-step process is straightforward and organized: an initial
					consultation with one of our team leads; project design led by one
					of our architects; construction by one of our in-house crews; and job
					close out with the whole team.
				</p>
        </div>
      </div>
    </div>

		<hr class="featurette-divider">

		<div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100">
          <div class="section">
								<div class="our-process-left">
									<div class="step-counter-wrapper">
										<div class="step-counter-border step-counter-border-25">
											<div class="step-counter-number"><span class="hide">Step: </span>1</div>
										</div>
										<h3>Consultation</h3>
									</div>
								</div>
<!--								<div class="our-process-right">-->
<!--										<p></p>-->
<!--									<p><strong>COST: Free</strong></p>-->
<!--								</div>-->
							</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="h-100 bg-body-tertiary">
          <p>
			  At Four Brothers we pride ourselves on delivering a high level of personal service.
			  That starts on Day One with a visit to your home. We want to get acquainted with your
			  living space—and you. What are your ideas and vision for the project? Do you have special
			  needs? We’d like to see any photos or sketches you’ve clipped. We’ll talk about timeframe and
			  budget and take some rough measurements. We’ll be on the look-out for any foreseeable issues,
			  like electrical, structural, plumbing or zoning concerns. Our home visit takes between 30 and
			  60 minutes, depending upon the complexity of the project. We’ll follow up within seven days with
			  a preliminary proposal that will include a ballpark cost estimate.
			  <br>
			  <br>
			  <strong>COST: Free</strong>
		  </p>
        </div>
      </div>
    </div>

		<hr class="featurette-divider">

		<div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100">
          <div class="section">
								<div class="our-process-left">
									<div class="step-counter-wrapper">
										<div class="step-counter-border step-counter-border-25">
											<div class="step-counter-number"><span class="hide">Step: </span>2</div>
										</div>
										<h3>Design</h3>
									</div>
								</div>
<!--								<div class="our-process-right">-->
<!--										<p></p>-->
<!--									<p><strong>COST: typically 10 – 15% of estimated construction cost</strong></p>-->
<!--								</div>-->
							</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="h-100 bg-body-tertiary">
          <p>
			  Once our estimate is approved, we move to the design and preconstruction phase.
			  Our project architects will work to match your design program with your construction
			  budget. In this phase, we research and select materials and produce conceptual, permit
			  and construction drawings. We also create three-dimensional renderings to help you
			  visualize the new space. This critical phase of the project is generally more
			  time-consuming than actual construction and requires close coordination with you,
			  the client, for your input. We expedite the process by creating a detailed design
			  calendar in which tasks, responsible parties and projected milestones are outlined.
			  <br><br>
			  <strong>COST: typically 10 – 15% of estimated construction cost</strong>
		  </p>
        </div>
      </div>
    </div>

	<hr class="featurette-divider">

		<div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100">
          <div class="section">
								<div class="our-process-left">
									<div class="step-counter-wrapper">
										<div class="step-counter-border step-counter-border-25">
											<div class="step-counter-number"><span class="hide">Step: </span>3</div>
										</div>
										<h3>Construction</h3>
									</div>
								</div>
<!--								<div class="our-process-right">-->
<!--										<p></p>-->
<!--									<p><strong>COST: Starting at $100,000</strong></p>-->
<!--								</div>-->
							</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="h-100 bg-body-tertiary">
          <p>
			  Once our estimate is approved, we move to the design and preconstruction phase.
			  Our project architects will work to match your design program with your construction budget.
			  In this phase, we research and select materials and produce conceptual, permit and construction
			  drawings. We also create three-dimensional renderings to help you visualize the new space.
			  This critical phase of the project is generally more time-consuming than actual construction
			  and requires close coordination with you, the client, for your input. We expedite the process by
			  creating a detailed design calendar in which tasks, responsible parties and projected milestones
			  are outlined.
			  <br><br>
			  <strong>COST: by agreement</strong>
		  </p>
        </div>
      </div>
    </div>

	<hr class="featurette-divider">

	<div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100">
          <div class="section">
								<div class="our-process-left">
									<div class="step-counter-wrapper">
										<div class="step-counter-border step-counter-border-25">
											<div class="step-counter-number"><span class="hide">Step: </span>4</div>
										</div>
										<h3>Closeout</h3>
									</div>
								</div>
								<div class="our-process-right">
										<p></p>

								</div>
							</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="h-100 bg-body-tertiary">
			<p>
			  When our crew has finished construction, we turn our attention to thoroughly cleaning the
				project site. We remove any remaining construction debris. Then we sweep, dust and mop to
				remove any vestiges of our work. Finally, we send you an evaluation form so you can grade
				our service from start to finish. We ask for your completely candid response. Your input
				will shape our company as we move forward.
				<br><br>
				<strong>COST: Free</strong>
			</p>
        </div>
      </div>
    </div>


					</div>

{% endblock %}