{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="{{ _('Learn about our comprehensive four-step process for home renovation,
     condo remodel, or kitchen redesign. From initial consultation to project closeout, we ensure transparency,
      efficiency, and client satisfaction.') }}">
{% endblock %}

{% block title %}{{ _('Services') }}{% endblock %}

{% block content %}
<div class="apartment_renovation">
    <div class="apart_photo_wrapper">
        <div class="apart_photo">
            <img class="shadow_services_apart" src="/static/images/Kulbachenko_color.jpg" alt="Сергей Кульбаченко - Основатель Кульбаченко Строй + Дизайн">
            <div class="text_wrap">
                <h3>We build your dream</h3>
            </div>
        </div>
    </div>

    <div class="apartment_renovation_text">
        <h2>Ваші ідеї — наша робота. Професійне будівництво та ремонт під ключ</h2>
        <p>Ми пропонуємо повний спектр будівельних та ремонтних послуг в Європі, юридично гарантуючи високу якість, професійність і увагу до деталей. Від ремонту квартир до будівництва будинків — ми втілюємо ваші ідеї в реальність.</p>

        <!-- Button to open the modal -->
<div class="cards_button_wrapper services">
    <a href="#" class="card_link-button openModalButton">
        Консультація
        <span class="arrow-circle" style="background-color: #ffffff;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="#1C9528" stroke-width="2" transform="rotate(-30)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h16M12 5l7 7-7 7"></path>
            </svg>
        </span>
    </a>
</div>
    </div>
</div>



<div class="block_2">
    <div class="block_2_left">
        <div class="block_2_left_text">
    <div class="line_top"></div>
    <h2>Ми не супергерої, але наша команда творить дива</h2>
    <div class="line_bottom"></div>
</div>


        <div class="block_2_1_left_photo">
			<img class="shadow_block_2" src="/static/images/Kulbachenko_houses.jpg" alt="Сергей Кульбаченко - Основатель Кульбаченко Строй + Дизайн">
        </div>











    </div>




    <div class="block_2_right">
<div class="apart_photo_2_1">
                <img class="shadow_services_apart_block_2_1" src="/static/images/Venetian.jpg" alt="Кульбаченко Будівництво + Дизайн">
            </div>
        <div class="block_2_right_text">

        <p>Ми реалізували понад 300 проєктів, що дозволяє нам із впевненістю називати себе професіоналами.</p>



        </div>

        <div class="block_2_1">
    <h2>Будівельні роботи</h2>
    <ul>
        <li>New build construction</li>
        <li>Brick/block house construction</li>
        <li>Foundation works</li>
        <a href="{{ url_for('roofing_works') }}" class=""><li>Roofing works</li></a> <!-- Ссылка в списке -->
        <li>External insulation</li>
    </ul>


            <!-- Button to open the modal -->
<div class="cards_button_wrapper services">
    <a href="#" class="card_link-button openModalButton">
        Консультація
        <span class="arrow-circle" style="background-color: #ffffff;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="#1C9528" stroke-width="2" transform="rotate(-30)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h16M12 5l7 7-7 7"></path>
            </svg>
        </span>
    </a>
</div>

        </div>








    </div>
</div>

<!--4-->
<div class="block_2">
    <div class="block_2_left">
        <div class="block_2_2">
            <h2>Ремонтні роботи</h2>
            <ul>
                <li>Turnkey apartment renovation</li>
            <li>Full refurbishment</li>
            <li>House renovation</li>
            <li>Comprehensive renovation</li>
            <li>Cosmetic renovation</li>
            <li>Interior design and refurbishment</li>

            <!-- Button to open the modal -->
<div class="cards_button_wrapper services">
    <a href="#" class="card_link-button openModalButton">
        Консультація
        <span class="arrow-circle" style="background-color: #ffffff;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="#1C9528" stroke-width="2" transform="rotate(-30)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h16M12 5l7 7-7 7"></path>
            </svg>
        </span>
    </a>
</div>



        </div>
    </div>

    <div class="block_2_right">
        <div class="block_2_2_right_photo">
			<img class="shadow_block_2" src="/static/images/Kulbachenko_turnkey.jpg" alt="Сергей Кульбаченко - Основатель Кульбаченко Строй + Дизайн">
        </div>
    </div>
</div>
<!--4-->

<!--5-->
<div class="block_2">
    <div class="block_2_left">
        <div class="block_2_1_left_photo">
			<img class="shadow_block_2" src="/static/images/Kulbachenko_el.jpg" alt="Сергей Кульбаченко - Основатель Кульбаченко Строй + Дизайн">
        </div>

    </div>

    <div class="block_2_right">
        <div class="block_2_1">
                    <h2>Інженерні та електромонтажні роботи</h2>
            <ul>
            <li>MEP installation</li>
            <li>Electrical works</li>
            </ul>

            <!-- Button to open the modal -->
<div class="cards_button_wrapper services">
    <a href="#" class="card_link-button openModalButton">
        Консультація
        <span class="arrow-circle" style="background-color: #ffffff;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="#1C9528" stroke-width="2" transform="rotate(-30)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h16M12 5l7 7-7 7"></path>
            </svg>
        </span>
    </a>
</div>

        </div>
    </div>
</div>
<!--5-->

<!--6-->
<div class="block_2">
    <div class="block_2_left">
        <div class="block_2_2">
            <h2>Оздоблювальні роботи</h2>
            <ul>
                <li>Finishing works</li>
                <li>Office fit-out</li>
            </ul>

            <!--            #button-->
            <!-- Button to open the modal -->
<div class="cards_button_wrapper services">
    <a href="#" class="card_link-button openModalButton">
        Консультація
        <span class="arrow-circle" style="background-color: #ffffff;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="#1C9528" stroke-width="2" transform="rotate(-30)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h16M12 5l7 7-7 7"></path>
            </svg>
        </span>
    </a>
</div>
        </div>

    </div>

    <div class="block_2_right">
        <div class="block_2_2_right_photo">
			<img class="shadow_block_2" src="/static/images/Kulbachenko_fw.jpg" alt="Сергей Кульбаченко - Основатель Кульбаченко Строй + Дизайн">
        </div>
    </div>
</div>
<!--6-->

<!--7-->
<div class="block_2">
    <div class="block_2_left">
        <div class="block_2_1_left_photo">
			<img class="shadow_block_2" src="/static/images/Kulbachenko_paint.jpg" alt="Сергей Кульбаченко - Основатель Кульбаченко Строй + Дизайн">
        </div>

    </div>

    <div class="block_2_right">
        <div class="block_2_1">
                    <h2>Додаткові послуги</h2>
            <ul>
                <li>Landscaping and fencing</li>
                <li>Interior design solutions</li>
            </ul>

            <!-- Button to open the modal -->
<div class="cards_button_wrapper services">
    <a href="#" class="card_link-button openModalButton">
        Консультація
        <span class="arrow-circle" style="background-color: #ffffff;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="#1C9528" stroke-width="2" transform="rotate(-30)">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h16M12 5l7 7-7 7"></path>
            </svg>
        </span>
    </a>
</div>
        </div>

    </div>
</div>
<!--7-->
{% endblock %}